apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app-deployment
spec:
  replicas: 3  # PostgreSQL supports multiple writers
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-app
        image: daddyohyeah/my-app:latest
        imagePullPolicy: Always 
        ports:
        - containerPort: 5000

        # RESOURCES: Prevents app from crashing server
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        
        # DATABASE CONNECTION
        env:
        - name: DB_HOST
          value: "postgres-service"
        - name: DB_USER
          value: "devopsflix"
        - name: DB_PASSWORD
          value: "devopsflix123"
        - name: DB_NAME
          value: "devopsflix"
        
        
        # PROBES: Updated to use /health
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
  
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 3